.box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;

  animation-name: changeBackgroundColor;
  animation-duration: 4s;
  /*  animation-delay: 1s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; /* alternate normal sonra reverse tekrarı yapar. */
  animation-fill-mode: forwards; /* none, forwards, backwards, both   
     CSS animasyonunun yürütülmeden önce ve sonra hedefine stilleri nasıl uygulayacağını belirler.
     https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode*/
}

@keyframes changeBackgroundColor {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: blue;
    left: 100px;
    top: 0px;
  }
  50% {
    background-color: brown;
    left: 100px;
    top: 100px;
  }
  75% {
    background-color: yellow;
    left: 0px;
    top: 100px;
  }
  100% {
    background: green;
    left: 0px;
    top: 0px;
  }
}
