/*img:nth-child(1){ 1. img'a demek.  
  visibility:hidden;
}*/

/*img:nth-child(2){ 2. img'a demek.  
  opacity: 0.5;
}*/

/*img:nth-child(3){ 3. img'a demek.  
  display: none;
}*/

 img {
    opacity: 0; /* visibility:hidden kullanamazdık animasyonda */
    animation: 1s show both;
  } 
  
   @keyframes show {
    100% { opacity: 1;}
  } 