* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* FLEXBOX */

.tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 500px;
    background-color: #eee;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.button .svg {
    /* Burdaki trick */
    font-size: 20px;
    height: 1em;
    width: 1em;
    background-color: black;
}

.button .text { 
   margin-top: 5px;
}

.active, .button:hover {
    background-color: red;
    color: white;
    
  }